// fontes 
$primary-font: 'Roboto', sans-serif;

// cores
$primary-color: #303537;
$secondary-color: #183D3D;
$tertiary-color: #5C8374;
$quatiary-color: #93B1A6;

// tamanho de texto 
$title-size: 3rem;