@import '../abstract/variables';

#cupom {
    background-color: $tertiary-color;
    padding: 4rem;
    text-align: center;
    .text {
        color: $primary-color;
        margin: 2rem;
        font-size: 1.5rem;
    }
    .input {
        background: white;
        border: 4px solid white;
        border-radius: 20px;
        margin: 0 auto;
        width: 575px;
        input {
            border: none;
            border-radius: 20px;
            font-size: 1.25rem;
            height: 40px;
            outline: none;
            text-align: center;
            width: 540px;
        }
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $quatiary-color;
            outline: none;
        }
    }
    button {
        background-color: $secondary-color;
        border: none;
        border-radius: 40px;
        color: $quatiary-color;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        height: 2.75rem;
        letter-spacing: 1px;
        margin-top: .75rem;
        width:130px;
        outline: none;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background-color: $primary-color;
        }
    }
}